---
const {
  author = "Sandy Veliz",
  authorTwitter = "Sandy",
  title = "Title",
  description = "Description",
} = Astro.props;
---

<head>
  <meta name="description" content={description} />
  <!-- <meta name="keywords" content="Palabra clave 1, Palabra clave 2, Palabra clave 3" /> -->
  <meta name="author" content={author} />

  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content="https://lordofthedocs.vercel.app/only_logo.png" />
  <link rel="canonical" href="https://lordofthedocs.vercel.app" />

  <meta name="twitter:card" content="https://lordofthedocs.vercel.app/only_logo.png" />
  <meta name="twitter:site" content={authorTwitter} />
  <meta name="twitter:creator" content={authorTwitter} />
</head>

<style>
  .container {
    width: 100%;
    margin-top: 0 !important;
  }
  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: #696969;
    margin: 0 0 2rem 0;
  }
</style>

<div class="container not-content">
  <div class="row">
    <span>Autor: {author}</span>

    <div>
      <a href={`https://twitter.com/${authorTwitter}`} target="_blank">
        <span>X: {authorTwitter}</span>
      </a>
    </div>
  </div>
  <div class="divider"></div>
</div>
